:root {
    --primary-hp-color: #11cdef;
    --secondary-hp-color: #1171ef;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.btn-style1 {
    position: relative;
    overflow: hidden;
}

.btn-style1::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 30px 30px 0;
    transform: translate(-100%, 0) rotate(50deg);
    transform-origin: top left;
    transition: all 0.35s;
    background: linear-gradient(45deg, var(--secondary-hp-color), var(--primary-hp-color));
    z-index: -1;
    content: "";
}

.btn-style1:hover {
    color: #fff;
    border-color: var(--secondary-hp-color) !important;
    
}

.btn-style1:hover::before {
    transform: translate(0, 0);
}


/* sidebar */
.sidebar {
    height: 100vh;
    background-color: #ffffff;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 2px 2px 10px #80808021;
}

.sidebar.open {
    width: 250px;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar .menu-text {
    transition: opacity 0.3s ease;
    opacity: 1;
}

.sorath-header-li a {
    color: #a1a1a1;
    padding: 10px;
}

.sidebar.collapsed .menu-text {
    opacity: 0;
    pointer-events: none;
}

.logo-box {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    font-size: 14px;
}

.toggle-btn {
    position: relative;
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 16px;
    border-radius: 6px;
    z-index: 1100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, var(--secondary-hp-color), var(--primary-hp-color));
    color: #fff;

}

/* Active menu item */
.sidebar li.active {
    background: linear-gradient(45deg, var(--secondary-hp-color), var(--primary-hp-color));
    border-radius: 0 30px 30px 0;
    box-shadow: 2px 2px 10px #8080804d;
}

.sidebar li.active a {
    color: #fff !important;
    font-weight: bold;
}

.sorath-header-li li {
    margin: 0 0 10px 0;
}

 .sorath-header-li li:hover a{
    color: #fff !important;
}

/* Enable dropdown on hover */
.dropdown-hover:hover .dropdown-menu {
  display: block;
  /* margin-top: 0.5rem; */
      right: 0;
}

.dropdown-hover .dropdown-toggle::after {
  display: none; /* optional: hide arrow */
}

button#profileDropdown:hover {
    background: linear-gradient(45deg, var(--secondary-hp-color), var(--primary-hp-color));
}
.bel-sorath i {
    color: var(--primary-hp-color);
}
.bel-sorath span {
    background: #ffc800;
}




/* sidebar 2 */

li.btn-style2:hover, .active2 {
    background: #d3e8fb;
}

li.btn-style2:hover a, .active2 a {
    color: var(--secondary-hp-color) !important;
}


/* sidebar 3 */

.third-option {
    background: linear-gradient(45deg, var(--primary-hp-color), var(--secondary-hp-color));
}
.third-option .sorath-header-li a {
    color: #ffffff;
}
.third-option li.btn-style2:hover,.third-option .active2 {
    background: #ffffff;
}
.third-option li.btn-style2:hover a, .third-option li.active3 a {
    color: var(--secondary-hp-color) !important;
}
.third-option li.active3 {
    background: #ffffff;
}


/* table2 */

.show-page-sorath, .custom-rows-dropdown button, .colum-3-sorath button {
    padding: 10px;
    box-shadow: 2px 2px 10px #80808030;
    border: none;
}

/* table 3 */

.soft-badge {
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.35em 0.6em;
  border-radius: 12px;
  background-color: rgba(0, 123, 255, 0.1);
  color: #007bff;
}

.badge-success.soft-badge {
  background-color: rgba(40, 167, 69, 0.1);
  color: #28a745;
}

.badge-secondary.soft-badge {
  background-color: rgba(108, 117, 125, 0.1);
  color: #6c757d;
}

thead.table-sorath-three th {
    background: var(--secondary-hp-color);
    padding: 15px .5rem;
    font-weight: 500;
    color: white;
}
/* filter */
button.filter-sorath-btn.btn.btn-outline-primary.btn-sm {
    padding: 10px 15px;
    border: none;
    box-shadow: 2px 2px 10px #80808030;
}
.filter-sorath-btn svg.filter-sorath {
    stroke: #6c757d;
}
